a, div {
       pointer-events: none;
       cursor: default;
}

.today {
    background-color: rgba(213, 37, 37, 1);

    pointer-events: auto;
	cursor: auto;
}

.Green {
	pointer-events: auto;
	cursor: auto;
}