@import url(http://fonts.googleapis.com/css?family=Lobster);

html {
	max-height: 100%;
	overflow: hidden;
}

body {
	z-index: -500;
}

.Intro {
	position: absolute;
	top: 0px;
	left: 0px;

	height: 100%;
	max-height: 100%;
	width: 100%;
	background-color: rgba(213, 37, 37, 1);

	z-index: 100;
}

.Camilla-container {
  	position: relative;
  	margin: auto;
}

img {
	height: 300px;
	width: auto;
}

.content {
	position: absolute;
	top: 0px;
	left: 0px;

	background-color: #2ADE25;

	z-index: 50;
	height: 100%;
	width: 100%;

	overflow: hidden;
}