@import url(http://fonts.googleapis.com/css?family=Lato);

body {
	min-height: 300px;
	background-image: url(./Fez.jpg);
}

.container {
	background-color: white;
	border-radius: 25px;
}

.content {
	position: relative;
	top: 250px;
}

p, h1 {
	font-family: 'Lato', sans-serif;
}