body {
	background-image: url('http://3219a2.medialib.glogster.com/media/b1/b155f27f530dcded7c6bb6a4e343ebb06e63b84ac2d5425cad96773e0614fa62/rainbow-background-jpg.jpg');
	background-repeat: repeat;
}